{{ attach_library('health/footnote') }}
<a class="health-footnotes__footnote-anchor" name="footnote-{{ id }}"></a>
<span class="col-xs-1">{{ id }}</span>
<span class="col-xs-11" id="{{ description_id }}">{{ text|raw }}</span>
