
{% extends "@paragraphs/paragraph.html.twig" %}

{% block paragraph %}

  {% set classes = [
    'health-layout',
    'health-layout--2col'
  ] %}

  <div{{ attributes.addClass(classes) }}>
    <div class="row">
      <div class="{{ column_left_width_classes }}">
        {{ content.field_h_content_components_col_1 }}
      </div>
      <div class="{{ column_right_width_classes }} standard-gap--mobile-only">
        {{ content.field_h_content_components_col_2 }}
      </div>
    </div>
  </div>

{% endblock %}
