{% extends "@health/content/node.html.twig"%}

{% block content %}
  <div class="col-sm-3 col-xs-4">
    <div class="image--link image--border">
      <a href="{{ url }}">
        <div class="image-outer">
          <div class="image-placeholder" style="max-width: 800px;">
            <div style="padding-top: 56.25%;"></div>
          </div>
          <div class="image-wrapper image-loading">
            <div class="image">
              <img width="800" height="450" data-src="{{ image_data_source|render|striptags|trim }}">
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
  <div class="col-sm-9 col-xs-8">
    <h3>
      <a href="{{ url }}">{{ title }}</a>
    </h3>
    <p>{{ content.field_h_summary }}</p>
  </div>
{% endblock %}
